
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
pythonProject/Hist/__pycache__/Client_app.cpython-311.pyc
pythonProject/Hist/__pycache__/server_app.cpython-311.pyc
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
*.pyc
*.pyc
pythonProject/FedAvg5/database.db
*.db
.idea/dataSources.local.xml
.idea/dataSources.xml

# Virtual environments
.venv/
venv/

# IDE from JetBrains files
.idea/
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/train-labels-idx1-ubyte.gz
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/train-labels-idx1-ubyte
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/train-images-idx3-ubyte.gz
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/train-images-idx3-ubyte
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/t10k-labels-idx1-ubyte
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/t10k-images-idx3-ubyte.gz
pythonProject/FedAvg6/library/fd_models/data/MNIST/raw/t10k-images-idx3-ubyte
*.duckdb
*.csv
poetry.lock
