
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
pythonProject/Hist/__pycache__/Client_app.cpython-311.pyc
pythonProject/Hist/__pycache__/server_app.cpython-311.pyc
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
*.pyc
*.pyc
pythonProject/FedAvg5/database.db
*.db
.idea/dataSources.local.xml
.idea/dataSources.xml
